body{
    margin: 0;
    padding: 0;
    font-family: Arial, verdana, helvetica, sans-serif;
    background-image:url('images/joniqcbackground.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    background-size: cover;
    height:100%;
    width:100%; 
}
#logo{
    transition: background-color 0.5s;
    position: absolute;
    top: 10px;
    left: 120px;
    width: 300px;
    height: 90px;
    background-color: #ffffBC05;
    border: 3px salid #00ffff;
    border-radius: 5px;
   
}
#logo img{
    margin: 0px;
    width: 90%;
    height: 85%;
    transition-property: color;
    transition-duration: 3s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#rightside{
    transition: background-color 0.5s;
    position: absolute;
    top: 10px;
    right: 320px;
    width: 520px;
    height: 80px;
    background-color: #ffffBC05;
    border: 3px salid #00ffff;
    border-radius: 5px;
    box-shadow: 6px 6px 8px #888888;
}
p#new_font {
    /*text-indent: 1.5em;*/
    font: 30px Monotype Corsiva;
    color: #ffffff;
    margin: 0px;
    overflow: hidden;
    padding-left: 100px;
    text-align: justify;    
} 
p#box {
    /*text-indent: 1.5em;*/
    font: 20px Monotype Corsiva;
    color: black;
    margin: 0px;
    overflow: hidden;
    padding-left: 100px;
    text-align: justify;    
} 
p#tel {
    /*text-indent: 1.5em;*/
    font: 15px Monotype Corsiva;
    color: black;
    margin: 0px;
    overflow: hidden;
    padding-left: 100px;
    text-align: justify;    
} 
#students{
    position:absolute;
    margin: 0 auto; 
	width: 70%;
    top: 100px;
    left: 20px;
    height: 160%;
	right: 20px;
	border: 1px solid #00ffff;
	border-radius:15px;
	/*background-color: #00ffff;*/
	padding: 10px;
}
input[type=text]{
    width: 30%;
    height: 25px;
    border-radius: 10px;
    background-color: lightblue;
    margin-left: 32px;
    position: relative;
    display: inline-block;
    float: left;
    }
input[type=submit]{
    display: inline-block;
    padding: 5px 125px;
    font-size: 16px;
    margin-left: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffbf00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #add8E6;
    }
input[type=checkbox]{
    width: 13%;
    height: 29px;
    background-color: lightblue;
    margin-top: 1px;
    }
label{
    position: relative;
    width: 300px;
    border: 2px;
    padding: 5px;
    display: inline-block;
    float: left;
    clear: left;
    width: 250;
    text-align: right
}
ol{
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}
ol li {
    padding: 1px;
    margin-left: 30px;
}
input[type=fname]{
    width: 30%;
    height: 25px;
    border-radius: 10px;
    background-color: lightblue;
    margin-left: 1px;
    position: relative;
    display: inline-block;
    }
#country{
    margin: 3px; 
    width: 20%;
    height: 25px;
	top: 18px;
	left: 1px;
    right: 2px;
    background-color: lightblue;
    border: 1px  #40c4ff;
	border-radius:10px;
    }


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 135px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 150px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #add8E6;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffbf00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 19px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    label, text, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }